# Ignorar carpeta de imágenes
imagenes/

# Ignorar salida de preprocesamiento
preprocesamiento/output/

# Ignorar cache de Python
federado/__pycache__/

# Ignorar archivo específico
Channel Attention.docx
Propuesta federada.docx

# Ignorar gitignore
.gitignore